name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake (dark)
        uses: Platane/snk@v3
        with:
          github_user_name: Pietrodub
          outputs: dist/snake-dark.svg?palette=github-dark

      - name: Generate snake (light)
        uses: Platane/snk@v3
        with:
          github_user_name: Pietrodub
          outputs: dist/snake-light.svg?palette=github-light

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
